body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1280px;
  height: 52px;
  padding: 0px 50px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
}

.logoEtInput {
  display: flex;
  align-items: center;
}

.buttonHeader {
  display: flex;
  align-items: center;
}

.imgHeader {
  height: 45px;
  margin-right: 10px;
}

.inputHeader {
  width: 550px;
  height: 35px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.AffinerRecherche {
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: #c9c9c9 1px solid;
}

.inputHeaderPriceMin {
  width: 60px;
  height: 35px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 5px;
  margin-right: 25px;
}

.inputHeaderPriceMax {
  width: 60px;
  height: 35px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 5px;
  margin-right: 60px;
}

.buttonWhite {
  border: #2aaeb7 solid 1px;
  color: #2aaeb7;
  border-radius: 5px;
  background-color: white;
  height: 35px;
  width: 100px;
  cursor: pointer;
  margin-right: 20px;
}

.activited {
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 100px;
  cursor: pointer;
  margin-left: 25px;
}

.unactivited {
  border: #2aaeb7 solid 1px;
  color: #2aaeb7;
  border-radius: 5px;
  background-color: white;
  height: 40px;
  width: 100px;
  cursor: pointer;
  margin-left: 25px;
}

.buttonDeconexion {
  border: rgb(84, 0, 84) solid 1px;
  color: rgb(84, 0, 84);
  border-radius: 5px;
  background-color: white;
  height: 35px;
  width: 100px;
  cursor: pointer;
  margin-right: 20px;
}

.buttonBlue {
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 35px;
  cursor: pointer;
}

.homeHeader {
  height: 500px;
  max-width: 1280px;
}

.homeHeader img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  position: absolute;
}

.containerBlock {
  position: relative;
  padding: 7% 2%;
}

.blockSurImg {
  background-color: white;
  max-width: 384px;
  border-radius: 5px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.blockSurImg .buttonBlue {
  height: 50px;
  margin: 0;
}

.blockSurImg p {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 32px;
}

.homeOffers {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 1280px;
  margin-top: 30px;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.buttonPage {
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 25px;
  cursor: pointer;
}

.pageNumber {
  margin-left: 8px;
  margin-right: 8px;
}

.avatarEtUsernameHome {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.avatarImgHome {
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.homeOffer {
  margin-bottom: 40px;
  width: calc(100% / 5);
  margin-inline: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeOffer img {
  height: 300px;
  width: 250px;
  object-fit: cover;
}

.infoSousImgHome {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  color: #8e8e8e;
}

.infoSousImgHomePrice {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

.avatarEtUsername {
  display: flex;
  color: #c9c9c9;
  margin-bottom: 7px;
}

.imgAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.avatar {
  margin-right: 10px;
}

.offerBody {
  background-color: #f2f2f2;
  /* height: 100vh; */
}

.offerInfo {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 700px;
}

.infoOffer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 40px;
  width: 400px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.containerOfferImg {
  display: flex;
  flex: wrap;
  overflow: hidden;
  overflow-x: scroll;
  width: 480px;
}

.offerImgFixe {
  overflow: hidden;
  object-fit: cover;
}

.offerImgs {
  height: 100%;
  width: 480px;
}

.offerImg {
  object-fit: cover;
  height: 100%;
  width: 480px;
}

.price {
  font-size: 25px;
  margin-bottom: 20px;
}

.containerOfferDescription {
  padding-bottom: 50px;
  border-bottom: solid 1px rgb(228, 228, 228);
  flex: 1;
}

.offerDescription {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.productName {
  margin-top: 40px;
  font-weight: bold;
  line-height: 30px;
}

.productDescription {
  line-height: 30px;
  color: #c9c9c9;
  margin-top: 10px;
  margin-bottom: 10px;
}

.offerAvatarUsername {
  display: flex;
  align-items: center;
}

.buttonAcheter {
  margin-top: 50px;
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 100%;
  cursor: pointer;
}

.containerButtonAcheter {
  display: flex;
  justify-content: center;
}

.containerSignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.textSignupLogin {
  font-size: 25px;
  margin-bottom: 20px;
}

.inputSignupLogin {
  background-color: white;
  border: none;
  border-bottom: solid rgb(255, 113, 113) 1px;
  height: 50px;
}

.buttonSignupLogin {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 40px;
  cursor: pointer;
}

.bottomTextSignupLogin {
  color: #2aaeb7;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.messageError {
  color: red;
  margin-top: 20px;
  text-align: center;
}

.publishFormBody {
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.publishFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: white;
  width: 500px;
  height: 600px;
  padding: 20px;
}

.publishImg {
  height: 60px;
}

.buttonAjoutImg {
  display: none;
}

.labelFile {
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.publishDescription {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border-bottom: solid 1px #dfe0e2;
  padding: 10px;
}

.publishInput {
  border: none;
  width: 250px;
  font-size: 14px;
  margin-bottom: 10px;
}
.publishInputDescription {
  border: none;
  height: 50px;
  width: 250px;
  font-size: 14px;
  margin-bottom: 10px;
}

.publishDescriptionPrix {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 10px;
}

.buttonAjouter {
  margin-top: 50px;
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 100%;
  cursor: pointer;
}

.footer {
  text-align: center;
  max-width: 1280px;
  height: 52px;
  margin: 0 auto;
  margin-top: 20px;
}

span {
  font-weight: bold;
}

.paymentBody {
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.paymentContainer {
  background-color: white;
  width: 500px;
  padding: 20px;
  height: 600px;
}

.paymentForm {
  display: flex;
  flex-direction: column;
}

.titleCommande {
  padding-top: 10px;
  padding-bottom: 50px;
  color: #999999;
}

.ligneProduitAchat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ligneProduitAchatFin {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: #8e8e8e 1px solid;
}

.infoTotal {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
  font-weight: bold;
}

.phraseAchat {
  padding-bottom: 30px;
  border-bottom: #8e8e8e 1px solid;
  text-align: justify;
}

.inputCarte {
  padding-top: 20px;
}

.textPayment {
  text-align: center;
  margin-top: 40px;
  color: #2aaeb7;
  font-weight: bold;
}

/* custom loader */

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.loaderContainerPayment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #2aaeb7;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loaderPayment {
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-bottom-color: #2aaeb7;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1245px) {
  .header {
    max-width: 100%;
  }

  .inputHeader {
    width: 350px;
  }

  .homeOffer {
    margin-bottom: 40px;
    width: calc(100% / 4);
    margin-inline: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 980px) {
  .header {
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
  }

  .containerBlock {
    position: relative;
    padding: 15% 2%;
  }

  .blockSurImg {
    background-color: white;
    max-width: 200px;
    border-radius: 5px;
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  .blockSurImg .buttonBlue {
    height: 40px;
    margin: 0;
  }

  .blockSurImg p {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .logoEtInput {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homeOffer {
    margin-bottom: 40px;
    width: calc(100% / 3);
    margin-inline: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AffinerRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonWhite {
    width: 100px;
  }

  .buttonBlue {
    width: 125px;
  }
  .AffinerRecherche {
    margin-bottom: 10px;
  }

  .offerInfo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
  }

  .containerOfferImg {
    display: flex;
    flex: wrap;
    overflow: hidden;
    overflow-x: scroll;
    width: 480px;
    height: 630px;
    margin-bottom: 20px;
  }
}

@media (max-width: 745px) {
  .header {
    max-width: 100%;
    flex-direction: column;
  }

  .containerBlock {
    position: relative;
    padding: 15% 2%;
  }

  .unactivited {
    height: 50px;
    width: 100px;
    margin-left: 10px;
  }

  .activited {
    height: 50px;
    width: 100px;
    margin-left: 10px;
  }

  .logoEtInput {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputHeader {
    width: 300px;
  }

  .inputHeaderPriceMin {
    height: 35px;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    margin-right: 25px;
  }

  .inputHeaderPriceMax {
    height: 35px;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    margin-right: 40px;
  }

  .homeOffer {
    margin-bottom: 40px;
    width: calc(100% / 1);
    margin-inline: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AffinerRecherche {
    margin-bottom: 10px;
  }

  .publishFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: white;
    width: 430px;
    height: 600px;
    padding: 20px;
  }

  .publishDescription {
    display: flex;
    justify-content: space-between;
    width: 430px;
    border-bottom: solid 1px #dfe0e2;
    padding: 10px;
  }

  .publishInput {
    border: none;
    width: 250px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .publishInputDescription {
    border: none;
    height: 50px;
    width: 250px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .publishDescriptionPrix {
    display: flex;
    justify-content: space-between;
    width: 430px;
    padding: 10px;
  }

  .paymentContainer {
    background-color: white;
    width: 430px;
    padding: 20px;
    height: 600px;
  }
}

@media (max-width: 450px) {
  body {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
  }

  .header {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
    padding: 0px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .buttonHeader {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .buttonWhite {
    border: #2aaeb7 solid 1px;
    color: #2aaeb7;
    border-radius: 5px;
    background-color: white;
    height: 35px;
    width: 95px;
    cursor: pointer;
    margin-right: 10px;
  }

  .imgHeader {
    height: 35px;
    margin-right: 10px;
  }

  .inputHeader {
    width: 200px;
    height: 35px;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    margin-right: 0px;
  }

  .homeHeader {
    height: 500px;
    max-width: 100%;
  }

  .homeImg {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;
  }

  .homeImg img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;
  }

  .containerBlock {
    display: none;
  }

  .homeOffers {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    max-width: 100%;
    margin-top: 30px;
    justify-content: center;
  }

  .AffinerRecherche {
    max-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-bottom: #c9c9c9 1px solid;
  }

  .inputHeaderPriceMin {
    width: 55px;
    height: 35px;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }

  .inputHeaderPriceMax {
    width: 55px;
    height: 35px;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }

  .activited {
    background-color: #2aaeb7;
    border: #2aaeb7 solid 1px;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
  }

  .unactivited {
    border: #2aaeb7 solid 1px;
    color: #2aaeb7;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
  }

  .offerInfo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
  }

  .infoOffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 40px;
    width: 270px;
  }

  .containerOfferImg {
    display: flex;
    flex: wrap;
    overflow: hidden;
    overflow-x: scroll;
    width: 350px;
    height: 630px;
    margin-bottom: 20px;
  }

  .offerImgs {
    height: 630px;
    width: 350px;
  }

  .offerImg {
    object-fit: cover;
    height: 100%;
    width: 350px;
  }

  .publishFormBody {
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .publishFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 310px;
    padding: 20px;
    height: 100%;
  }

  .publishDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    border-bottom: solid 1px #dfe0e2;
    padding: 10px;
    margin-top: 10px;
  }

  .publishInput {
    border: none;
    width: 310px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .publishInputDescription {
    border: none;
    height: 50px;
    width: 310px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .publishDescriptionPrix {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
  }

  .paymentContainer {
    background-color: white;
    width: 310px;
    padding: 20px;
    height: 600px;
  }
}
