body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1280px;
  height: 52px;
  padding: 0px 50px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
}

.logoEtInput {
  display: flex;
  align-items: center;
}

.buttonHeader {
  display: flex;
  align-items: center;
}

.imgHeader {
  height: 45px;
  margin-right: 10px;
}

.inputHeader {
  width: 550px;
  height: 35px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.AffinerRecherche {
  margin-bottom: 10px;
  display: flex;
  max-width: 960px;
  height: 52px;
  padding: 0px 50px;
  margin: 0 auto;
}

.inputHeaderPriceMin {
  width: 60px;
  height: 35px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 5px;
  margin-right: 25px;
}

.inputHeaderPriceMax {
  width: 60px;
  height: 35px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 5px;
  margin-right: 60px;
}

.buttonWhite {
  border: #2aaeb7 solid 1px;
  color: #2aaeb7;
  border-radius: 5px;
  background-color: white;
  height: 35px;
  width: 100px;
  cursor: pointer;
  margin-right: 20px;
}

.activited {
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 100px;
  cursor: pointer;
  margin-left: 25px;
}

.unactivited {
  border: #2aaeb7 solid 1px;
  color: #2aaeb7;
  border-radius: 5px;
  background-color: white;
  height: 40px;
  width: 100px;
  cursor: pointer;
  margin-left: 25px;
}

.buttonDeconexion {
  border: rgb(84, 0, 84) solid 1px;
  color: rgb(84, 0, 84);
  border-radius: 5px;
  background-color: white;
  height: 35px;
  width: 100px;
  cursor: pointer;
  margin-right: 20px;
}

.buttonBlue {
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 35px;
  cursor: pointer;
}

.homeHeader {
  height: 500px;
  max-width: 1280px;
}

.homeHeader img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  position: absolute;
}

/* .dechirure {
  background-image: url(/Users/lea/LeReacteur/React/Jours8/exercice/vinted-frontend/my-app/src/images/imgDechirure.svg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: bottom -10px right -1px;
  background-repeat: no-repeat;
  background-size: contain;
} */

.containerBlock {
  position: relative;
  padding: 7% 2%;
}

.blockSurImg {
  background-color: white;
  max-width: 384px;
  border-radius: 5px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.blockSurImg .buttonBlue {
  height: 50px;
  margin: 0;
}

.blockSurImg p {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 32px;
}

.homeOffers {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 1280px;
  margin-top: 30px;
  justify-content: center;
}

.avatarEtUsernameHome {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.avatarImgHome {
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.homeOffer {
  margin-bottom: 40px;
  width: calc(100% / 5);
  margin-inline: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeOffer img {
  height: 300px;
  width: 250px;
  object-fit: cover;
}

.infoSousImgHome {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  color: #8e8e8e;
}

.infoSousImgHomePrice {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

.avatarEtUsername {
  display: flex;
  color: #c9c9c9;
  margin-bottom: 7px;
}

.imgAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.avatar {
  margin-right: 10px;
}

.offerBody {
  background-color: #f2f2f2;
  height: 100vh;
}

.offerInfo {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  justify-content: space-around;
  padding-top: 30px;
  height: 700px;
}

.infoOffer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 40px;
  width: 400px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.containerOfferImg {
  display: flex;
  flex: wrap;
  overflow: hidden;
  overflow-x: scroll;
  width: 400px;
}

.offerImgs {
  display: flex;
  flex: wrap;
}

.offerImg {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.price {
  font-size: 25px;
  margin-bottom: 20px;
}

.containerOfferDescription {
  padding-bottom: 50px;
  border-bottom: solid 1px rgb(228, 228, 228);
  flex: 1;
}

.offerDescription {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.productName {
  margin-top: 40px;
  font-weight: bold;
  line-height: 30px;
}

.productDescription {
  line-height: 30px;
  color: #c9c9c9;
  margin-top: 10px;
  margin-bottom: 10px;
}

.offerAvatarUsername {
  display: flex;
  align-items: center;
}

.buttonAcheter {
  margin-top: 50px;
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 100%;
  cursor: pointer;
}

.containerButtonAcheter {
  display: flex;
  justify-content: center;
}

.containerSignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.textSignupLogin {
  font-size: 25px;
  margin-bottom: 20px;
}

.inputSignupLogin {
  background-color: white;
  border: none;
  border-bottom: solid rgb(255, 113, 113) 1px;
  height: 50px;
}

.buttonSignupLogin {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 40px;
  cursor: pointer;
}

.bottomTextSignupLogin {
  color: #2aaeb7;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.messageError {
  color: red;
  margin-top: 20px;
}

.publishFormBody {
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.publishFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: white;
  width: 500px;
  height: 600px;
  padding: 20px;
}

.publishImg {
  height: 60px;
}

.buttonAjoutImg {
  display: none;
}

.labelFile {
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  padding: 10px;

  cursor: pointer;
}

.publishDescription {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border-bottom: solid 1px #dfe0e2;
  padding: 10px;
}

.publishInput {
  border: none;
  width: 250px;
  font-size: 14px;
  margin-bottom: 10px;
}
.publishInputDescription {
  border: none;
  height: 50px;
  width: 250px;
  font-size: 14px;
  margin-bottom: 10px;
}

.publishDescriptionPrix {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 10px;
}

.buttonAjouter {
  margin-top: 50px;
  background-color: #2aaeb7;
  border: #2aaeb7 solid 1px;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 100%;
  cursor: pointer;
}

.footer {
  text-align: center;
  max-width: 1280px;
  height: 52px;
  margin: 0 auto;
  margin-top: 20px;
}

span {
  font-weight: bold;
}

.paymentBody {
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.paymentContainer {
  background-color: white;
  width: 500px;
  padding: 20px;
  height: 600px;
}

.paymentForm {
  display: flex;
  flex-direction: column;
}

.titleCommande {
  padding-top: 10px;
  padding-bottom: 50px;
  color: #999999;
}

.ligneProduitAchat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ligneProduitAchatFin {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: #8e8e8e 1px solid;
}

.infoTotal {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
  font-weight: bold;
}

.phraseAchat {
  padding-bottom: 30px;
  border-bottom: #8e8e8e 1px solid;
}

.inputCarte {
  padding-top: 20px;
}

@media (max-width: 1245px) {
  .header {
    max-width: 100%;
  }

  .inputHeader {
    width: 350px;
  }

  .homeOffer {
    margin-bottom: 40px;
    width: calc(100% / 4);
    margin-inline: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 980px) {
  .header {
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
  }

  .containerBlock {
    position: relative;
    padding: 15% 2%;
  }

  .blockSurImg {
    background-color: white;
    max-width: 200px;
    border-radius: 5px;
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  .blockSurImg .buttonBlue {
    height: 40px;
    margin: 0;
  }

  .blockSurImg p {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .logoEtInput {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homeOffer {
    margin-bottom: 40px;
    width: calc(100% / 3);
    margin-inline: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AffinerRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonWhite {
    width: 100px;
  }

  .buttonBlue {
    width: 125px;
  }
  .AffinerRecherche {
    margin-bottom: 10px;
  }
  /* .dechirure {
    background-position: bottom 140px right -1px;
  } */
}

@media (max-width: 745px) {
  .header {
    max-width: 100%;
    flex-direction: column;
  }

  .containerBlock {
    position: relative;
    padding: 15% 2%;
  }

  .buttonPrice {
    height: 50px;
    width: 100px;
    margin-left: 10px;
  }

  .logoEtInput {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputHeader {
    width: 300px;
  }

  .inputHeaderPriceMin {
    height: 35px;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    margin-right: 25px;
  }

  .inputHeaderPriceMax {
    height: 35px;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    margin-right: 40px;
  }

  .homeOffer {
    margin-bottom: 40px;
    width: calc(100% / 1);
    margin-inline: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AffinerRecherche {
    margin-bottom: 10px;
  }
} ;
